html {
	height: 100%
}

body {
	height: 100%;
	margin: 0;
	padding: 0
}

#map-canvas {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;
	z-index: 10;
	
	-webkit-filter: blur(7px);
	filter: blur(7px);
}

#overlay {
	opacity: 0.6;
	background: #FFF;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;
	z-index: 11;
}

#search-box {
	position: fixed;
	z-index: 12;
}

#info-box {
	background: #FFF;
	top: 0;
	bottom: 0;
	left: 0;
	width: 0;
	position: absolute;
}

#search-box {
	left: 200px;
	right: 200px;
}