<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	
	<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
	<link rel="stylesheet" media="screen" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	
	<script type="text/javascript" src="@{'/public/javascripts/jquery-1.11.0.min.js'}"></script>
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAopy9pygs2h40C94HY7elt7ftcIjrt__g&sensor=false"></script>
	<script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/mustache.js/0.7.2/mustache.min.js"></script>
	<script type="text/javascript" src="@{'/public/javascripts//main.js'}"></script>

</head>
<body>
	<div id="map-canvas">
		<div id="overlay"></div>
	</div>

	<div id="search-box">
		<input id="search-input" type="text" class="form-control" placeholder="Search films or locations"/>
		<ul id="search-suggestion"></ul>
	</div>
    
    <div id="info-box"></div>
    
    <script id="suggestion-tmpl" type="text/html">
		{{#movies}}
            <li>
                <div class="suggestion-item">
                    <span class="suggestion-inline-helper"/>
                    <img src="/public/images/imdb/{{imdbID}}.jpg" width="45"/>
                    <span>{{title}}</span><span> ({{year}})</span>
                </div>
            </li>
		{{/movies}}
		{{#locations}}
			<li>
                <div class="suggestion-item">
                    <span class="suggestion-inline-helper"/>
                    <img src="/public/images/loc-icon.png" width="45" height="45"/>
                    <span>{{shortName}} ({{longName}})</span>
                </div>
            </li>
		{{/locations}}
    </script>
    
    <script id="info-box-movie-tmpl" type="text/html">
        <div id="movie-header">
            <img src="/public/images/imdb/{{imdbID}}.jpg" id="movie-image"/>
            <div id="movie-intro-box">
                <span id="movie-name">{{title}}</span>
                <span id="movie-year">({{year}})</span><br/>
                <div id="movie-intro-content">{{description}}</div>
            </div>
        </div>
        
        <div>
            <ul class="nav nav-tabs nav-justified">
                <li class="active"><a href="#movie-info-pane" data-toggle="tab">Movie Info</a></li>
                <li><a href="#location-list-pane" data-toggle="tab">Locations</a></li>
            </ul>
            
            <div class="tab-content">
                <div id="movie-info-pane" class="tab-pane active info-pane">
                    <div class="movie-info-line">
						<div class="movie-info-header">
							IMDb Rate: 
						</div>

						<div class="movie-info-list">
							<a href="http://www.imdb.com/title/{{id}}/ratings" target="_blank">{{rate}}</a>
						</div>
					</div>

                    <div class="movie-info-line">
						<div class="movie-info-header">
							Genres:
						</div>

						<div class="movie-info-list">
							<div>{{genres}}</div>
						</div>
					</div>

					<div class="movie-info-line">
						<div class="movie-info-header">
							Director:
						</div>

						<div class="movie-info-list">
						{{#director}}
							<div><a href="{{link}}" target="_blank">{{name}}</a></div>
						{{/director}}
						</div>
					</div>

					<div class="movie-info-line">
						<div class="movie-info-header">
							Cast:
						</div>

						<div class="movie-info-list">
						{{#cast}}
							<div><a href="{{link}}" target="_blank">{{name}}</a></div>
						{{/cast}}
						</div>
					</div>
                </div>
                
                <div id="location-list-pane" class="tab-pane info-pane">
                    <ul id="location-list">
                    {{#locations}}
                        <li class="location-entry source-{{source}}">
                            <div>
                                <p>{{actualLocation}}</p>
                            </div>
                        </li>
                    {{/locations}}
                    </ul>
                </div>
            </div>
        </div>
    </script>
    
    <script id="info-box-location-tmpl" type="text/html">
		<div id="location-header">
            <img src="/public/images/loc-icon.png" id="location-icon"/>
            <div id="location-intro-box">
                <div id="location-short-name">{{location.shortName}}</div>
                <div id="location-long-name">{{location.longName}}</div>
				<div id="location-movie-count">with {{movieCount}} movie locations</div>
            </div>
        </div>

		<ul id="location-movie-list">
		{{#movies}}
			<li class="location-movie-entry">
				<span class="suggestion-inline-helper"/>
				<img src="/public/images/imdb/{{imdbID}}.jpg" width="45"/>
				<span>{{title}}</span><span> ({{year}})</span>
			</li>
		{{/movies}}
		</ul>
	</script>
    
    <script id="marker-window-tmpl" type="text/html">
        <h6>{{actualLocation}}</h6>
        {{#movieLocation}}
        <h7>{{movieLocation}}</h7>
        {{/movieLocation}}
    </script>
</body>
</html>