html {
	height: 100%
}

body {
	height: 100%;
	margin: 0;
	padding: 0
}

#map-canvas {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;
	z-index: 10;
	
	-webkit-filter: blur(7px);
	filter: blur(7px);
}

#overlay {
	opacity: 0.6;
	background: #FFF;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;
	z-index: 11;
}

#search-box {
	position: fixed;
	z-index: 12;
}

#info-box {
	background: #FFF;
	top: 0;
	bottom: 0;
	left: 0;
	width: 0;
	position: absolute;
}

#search-box {
	left: 200px;
	right: 200px;
}

.search-input-with-suggestion {
    -webkit-border-radius: 4px 4px 0 0 !important;
    -moz-border-radius: 4px 4px 0 0 !important;
    border-radius: 4px 4px 0 0 !important;
}

#search-suggestion {
	max-height: 700px;
    overflow-y: auto;
    padding: 8px 0;
    background-color: #FFF;
    
    border: 1px solid #CCC;
    border-top: none;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
    
    -webkit-box-shadow: 0 3px 3px rgba(0,0,0,.2);
    -moz-box-shadow: 0 3px 3px rgba(0,0,0,.2);
    box-shadow: 0 3px 3px rgba(0,0,0,.2);
    
    display: none;
}

#search-suggestion li {
    height: 90px;
    cursor: pointer;
}

#search-suggestion li:hover {
    background-color: #0097CF;
    color: #FFF;
}

.suggestion-item {
    height: 90px;
}

.suggestion-inline-helper {
    display: inline-block;
    height: 100%;
    width: 10px;
    vertical-align: middle;
}

.suggestion-item img {
}